# Curso Python basico a avanzado

## Variables

In [7]:
mensaje = "Bienvenido/a al curso de Python"

print(mensaje)

Bienvenido/a al curso de Python

## Strings I

In [8]:
"esto es un string"
'esto es un string'

texto = "Esto es un 'string"

print(texto)

Esto es un 'string

## Strings II

In [9]:
primeraPalabra = "Programacion"
segundoPalabra = "Facil"

nombreCanal = primeraPalabra + " " + segundoPalabra

print("Este es el canal de " + nombreCanal)

Este es el canal de Programacion Facil

## Strings III
### Los metodos upper() - lower() - title()

In [10]:
# title() Coloca las primeras letra de cada palabra en Mayusculas

nombre = "programacion facil"

print(nombre.title())

Programacion Facil

In [11]:
# upper() Coloca todas las letras en Mayusculas

nombreUpper = "programacion facil" 

print(nombreUpper.upper())

PROGRAMACION FACIL

In [12]:
# lower() Coloca todas las letras en minusculas

nombreLower = "PROGRAMACION FACIL" 

print(nombreLower.lower())

programacion facil

## Strings IV

In [13]:
# \n para un salto de linea
# \t para una tabulacion
print("Lenguajes de programacion:\n\tPython\n\tJavaScript\n\tJava\n\tPHP\n\tTypeScript")

Lenguajes de programacion:
	Python
	JavaScript
	Java
	PHP
	TypeScript

## Operadores I

In [14]:
suma = 4+6
resta = 4-6
mult = 4*6
divicion = 4/6

print(f'Resultado de la suma: {suma}\nResultado de la resta: {resta}\nResultado de la multiplicacion: {mult}\nResultado de la divicion: {divicion}')

Resultado de la suma: 10
Resultado de la resta: -2
Resultado de la multiplicacion: 24
Resultado de la divicion: 0.6666666666666666

## Operadores II

In [15]:
# Exponentes **

elevado = 5 ** 5

print(f'Resultado de exponente: {elevado}')

Resultado de exponente: 3125

## FLOATS y ROUND

In [16]:
# Floats numero con decimales
# ROUND sirve para definir en numero decimales 
num1 = 40.45

num2 = 45.9768

resultado = num1 + num2

print(round(resultado, 4))

86.4268

## Listas I

In [17]:
smartphones = ['Xiaomi', 'Iphone', 'Huawei', 'Samsung']

print(smartphones[3])

Samsung

## Listas II

In [18]:
paises = ["Argentina", "Brasil", "Colombia", "Chile", "México", "Perú", "España", "Francia", "Italia", "Estados Unidos"]

# numero negativos para acceder a los ultimos elementos
print(f"El ultimo elementos es: {paises[-1]}")

El ultimo elementos es: Estados Unidos

## Listas III 
### DEL - para eliminar listas o un elemento

In [19]:
hardware = ["CPU","Motherboard","RAM","GPU","Storage (HDD/SSD)","Power Supply","Case","Cooling (CPU cooler, fans)"]

del hardware[-2]
# Se elimino el elemento -2 de la lista
print(hardware)

['CPU', 'Motherboard', 'RAM', 'GPU', 'Storage (HDD/SSD)', 'Power Supply', 'Cooling (CPU cooler, fans)']

## Listas IV
### Remove - elimina un elemento con su valor

In [20]:
hardware = ["CPU","Motherboard","RAM","GPU","Storage (HDD/SSD)","Power Supply","Case","Cooling (CPU cooler, fans)"]

hardware.remove("CPU")
hardware.remove("RAM")

print(hardware)

['Motherboard', 'GPU', 'Storage (HDD/SSD)', 'Power Supply', 'Case', 'Cooling (CPU cooler, fans)']

## Lista V
### Pop - para remover un elemeneto especifico

In [21]:
colores = ["rojo", "azul", "verde", "amarillo"]

# Con pop eliminamos el color rojo de la lista
# Y se guarda en una variable
guardaColor = colores.pop(0)

print(colores)

print(f"El color eliminado de la lista y guardado es el: {guardaColor}")

['azul', 'verde', 'amarillo']
El color eliminado de la lista y guardado es el: rojo

## Lista VI
### Append - Agrega un elemento

In [22]:
colores = []

colores.append("Rojo")
colores.append("Azul")

print(colores)

['Rojo', 'Azul']

## Lista VII
### Insert - Inserta un elemento en un lugar que le especifique

In [23]:
colores = ["rojo", "azul", "verde", "amarillo"]

colores.insert(-1, "Naranja")

print(colores)

['rojo', 'azul', 'verde', 'Naranja', 'amarillo']

## Lista VIII
### Sort - Ordenar listas

In [24]:
colores1 = ["rojo", "azul", "verde", "amarillo"]
# Ordena alfabeticamente
colores.sort()

print(colores)

# Ordena alfabeticamente a la inversa
colores.sort(reverse=True)

print(colores)

# sorted los cambios no son pernanentes
print(sorted(colores))
print(colores1)

['Naranja', 'amarillo', 'azul', 'rojo', 'verde']
['verde', 'rojo', 'azul', 'amarillo', 'Naranja']
['Naranja', 'amarillo', 'azul', 'rojo', 'verde']
['rojo', 'azul', 'verde', 'amarillo']

## Lista IX
### Len - Cuenta la cantidad de elementos

In [25]:
paises = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cabo Verde", "Cambodia", "Cameroon", "Canada", "Central African Republic", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo, Democratic Republic of the", "Congo, Republic of the", "Costa Rica", "Côte d'Ivoire", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Eswatini", "Ethiopia", "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Monaco", "Mongolia", "Montenegro", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Macedonia", "Norway", "Oman", "Pakistan", "Palau", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Qatar", "Romania", "Russia", "Rwanda", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "Sudan", "Suriname", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Timor-Leste", "Togo", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States", "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Yemen", "Zambia", "Zimbabwe"]

del paises[63:193]

print(len(paises))

print(paises[-1])

63
Gambia

## Diferencias entre listas

In [26]:
lista = ["Rojo", "Azul", "Verde", "Amarillo"]

tupla = (10,15,20, "El resultado de la operacion es: ")

print(tupla[3], tupla[0] + tupla[2])

El resultado de la operacion es:  30

## Cómo convertir TUPLAS a LISTAS y viceversa

In [27]:
lista = ["Rojo", "Azul", "Verde", "Amarillo"]
# Contirtiendo en una tupla
tupla = tuple(lista)

print(tupla)
print(type(tupla))

tupla = ("Rojo", "Azul", "Verde", "Amarillo")
# Convirtiendo en una lista
lista = list(tupla)
print(lista)
print(type(lista))

('Rojo', 'Azul', 'Verde', 'Amarillo')
<class 'tuple'>
['Rojo', 'Azul', 'Verde', 'Amarillo']
<class 'list'>

## Condicional I
### IF

In [28]:
num1 = 10
num2 =  20

if num1 != num2:
    print("Se ha ejecutado el if.")

Se ha ejecutado el if.

## Condifional II
## IF - ELSE

In [29]:
edad = 20

if edad >= 18:
    print("Puedes acceder, eres mayor de edad.")

else:
    print("No puedes acceder, eres menor de edad")

Puedes acceder, eres mayor de edad.

## Condicional III
### IF - ELIF - ELSE

In [30]:
edad = int(input("¿Cual es tu edad?: "))

if edad <= 0:
    print("nadie puede tener esa edad")

elif edad >= 1 and edad >= 17:
    print("Eres menor de edad")
    
elif edad <= 100:
    print("Eres mayor de edad")

else:
    print("Eres no valida")

Eres menor de edad

## Condicionales IV 
### Comprobar datos en listas y tuplas

In [31]:
entrada = input("intriduce el nombre de un navegador: ")

navegadores = ['chrome', 'firefox', 'opera', 'safari']

if entrada in navegadores:
    print("El navegador que buscas esta en la lista")
    
else:
    print("El navegadorr que buscas no esta en la lista")
print()

El navegadorr que buscas no esta en la lista

## Condicionales V
### Multiples condicionales IF

In [32]:
print("Saludos guerrero, ¿Que desea comprar?\n\n" +
      "Items disponibles:\n\n" +
      "Espadas:\n\n" +
      "1-Espada Nivel 1: 150 Monedas de oro.\n" +
      "2-Espada Nivel 2: 1200 Modedas de oro.\n\n"+
      "Escudos: \n\n" +
      "3-Escudo Nivel 1: 100 Monedas de oro.\n" +
      "4-Escudo Nivel 2: 750 Modedas de oro.\n")

comprar = [3,1,2,4]

dinero = 1500

espadaLV1 = 150
espadaLV2 = 1200
escudoLV1 = 100
escudoLV2 = 750

if 0 in comprar or comprar == []:
    print("Especifica un numero entre 1 y 4.")
    
if 1 in comprar:
    dinero = dinero - espadaLV1
    
if 2 in comprar:
    dinero = dinero - espadaLV2
    
if 3 in comprar:
    dinero = dinero - escudoLV1
    
if 4 in comprar:
    dinero = dinero - escudoLV2
    
else:
    print("Espeficica un numero entre 1 y 4")
    
if dinero < 0:
    print("No te llega el dinero para todo eso")
    
if comprar == [1] or comprar == [2] or comprar == [3] or comprar == [4]:
    print("Te quedan " + str(dinero) + " Modendas de oro.")
    print("se añadio el/los objeto/s a tu inventario ")

Saludos guerrero, ¿Que desea comprar?

Items disponibles:

Espadas:

1-Espada Nivel 1: 150 Monedas de oro.
2-Espada Nivel 2: 1200 Modedas de oro.

Escudos:

3-Escudo Nivel 1: 100 Monedas de oro.
4-Escudo Nivel 2: 750 Modedas de oro.

No te llega el dinero para todo eso

## Condicionales VI
### Tipos de condicionales

In [33]:
# Las sangrias

x = 100
y = 200


if x < y:
    pass
print("x es menor que y")
# ERROR falta la sangria

x es menor que y

In [34]:
# Codigo limpio

x = 100
y = 200

if x < y:
    print("x es menor que y")

x es menor que y

In [35]:
# Operadores logicos

x = 100
y = 200
z = 300

# and

if x < y and x < z:
    print("Se cumplen las dos condiciones")
else:
    print("No se cumple una o ninguna de la condiciones")

Se cumplen las dos condiciones

In [36]:
# or

x = 100
y = 200
z = 300

if x < y or x > z:
    print("Se cumplen las condiciones")
else:
    print("No se cumple ninguna de las condiciones")

Se cumplen las condiciones

## Bucles I
### Bucle WHILE

In [37]:
# Bucle infinito

x = 1

while x < 10:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9

In [38]:
# Bucle infinito controlado

frase = "lo que escribas, lo repito:"
frase = "\nIntroduce el comando 'salir' para finalizar el programa.\n"

mensaje = ""


while mensaje != "salir":
    mensaje = input(frase)
    print(mensaje)

20
salir

## Bucles II
### Bucle while

In [39]:
# Bucle terminado (break)

x = 1

while x <= 10:
    print(x)
    if x == 5: # El bucle se termina en 5
        break
    x += 1

1
2
3
4
5

In [40]:
# Mensaje cuando se termine el bucle

x = 1

while x <= 10:
    print(x)
    x += 1
else:
    print("Saliendo del bucle while...")

1
2
3
4
5
6
7
8
9
10
Saliendo del bucle while...

In [41]:
# continue

x = 0

while x < 10:
    x += 1
    if x == 5 or x == 7: # El bucle se salta los valores 5 y 7
        continue
    print(x)

1
2
3
4
6
8
9
10

## Bucles III
### Bucle for

In [42]:
for x in "Python":
    print(x)

P
y
t
h
o
n

In [43]:
# Recorer una lista 

cursos = ['Python', 'Java', 'COBOL', "HTML"]

for curso in cursos:
    print(f'Curso de {curso}')

Curso de Python
Curso de Java
Curso de COBOL
Curso de HTML

In [44]:
# Saltar un elemento

cursos = ['Python', 'Java', 'COBOL', "HTML"]

for curso in cursos:
    if curso == 'COBOL': # El bucle se salta el elemento COBOL
        continue
    print(f'Curso de {curso}')

Curso de Python
Curso de Java
Curso de HTML

In [45]:
# Terminal el bucle con break

cursos = ['Python', 'Java', 'COBOL', "HTML"]

for curso in cursos:
    if curso == 'COBOL': # El bucle se termina en COBOL
        break
    print(f'Curso de {curso}')

Curso de Python
Curso de Java

In [46]:
# bucles vacios

cursos = []

for x in cursos:
    pass

## Bucles IV
## Bucle for II

In [47]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [48]:
print("Lista de numeros:\n")

numeros = [2,4,8,16,32,64,128]

for x in range(len(numeros)):
    print("Numero de operacion -> ", x, "Multplicacion ->", numeros[x], "Resultado: ->", numeros[x] + numeros[x])

Lista de numeros:

Numero de operacion ->  0 Multplicacion -> 2 Resultado: -> 4
Numero de operacion ->  1 Multplicacion -> 4 Resultado: -> 8
Numero de operacion ->  2 Multplicacion -> 8 Resultado: -> 16
Numero de operacion ->  3 Multplicacion -> 16 Resultado: -> 32
Numero de operacion ->  4 Multplicacion -> 32 Resultado: -> 64
Numero de operacion ->  5 Multplicacion -> 64 Resultado: -> 128
Numero de operacion ->  6 Multplicacion -> 128 Resultado: -> 256

In [49]:
for x in range(10):
    print(x)
else:
    print("Se acabo el bucle for...")

0
1
2
3
4
5
6
7
8
9
Se acabo el bucle for...

In [50]:
num1 = ["1", "2", "3", "4", "5"]
num2 = "0"
num3 = "7"

for x in num1:
    for y in num2:
        for z in num3:
            print(x + y + z)

107
207
307
407
507

## Diccionarios
### El metodo DICT

In [51]:
teclado1 = {
    "Categoria": "Teclados",
    "Modelo": "HyperX Alloy FPS Pro",
    "Precio": "89,99"
    }

teclado2 = {
    "Categoria": "Teclados", 
    "Modelo": "Corsair K55 LUX",
    "Precio": "59,99"
    }

muestraTeclado = dict(teclado1)
print(muestraTeclado)

{'Categoria': 'Teclados', 'Modelo': 'HyperX Alloy FPS Pro', 'Precio': '89,99'}

## Diccionarios II
### Usar DICCIONARIOS con el bucle FOR

In [52]:
teclado1 = {
    "Categoria": "Teclados",
    "Modelo": "HyperX Alloy FPS Pro",
    "Precio": "89,99"
    }

teclado2 = {
    "Categoria": "Teclados", 
    "Modelo": "Corsair K55 LUX",
    "Precio": "59,99"
    }

for x in teclado1:
    print(teclado1[x])

Teclados
HyperX Alloy FPS Pro
89,99

## Diccionarios III
### Los metodos con DICCIONARIOS

In [53]:
teclado1 = {
    "Categoria": "Teclados",
    "Modelo": "HyperX Alloy FPS Pro",
    "Precio": "89,99"
    }

teclado2 = {
    "Categoria": "Teclados", 
    "Modelo": "Corsair K55 LUX",
    "Precio": "59,99"
    }

# Cantidad de elementos con LEN
print(len(teclado1))

# Eliminar un elemento con POP
teclado1.pop("Categoria")
print(teclado1)

# Eliminar un elemento con DEL
del teclado1["Precio"]
print(teclado1)

# Eliminar el diccionario completo con CLEAR
teclado1.clear()
print(teclado1)

# Agregar un elemento o cambiar su valor
teclado1["Precio"] = "60.69"
teclado1["Color"] = "Negro"
print(teclado1)

# Copiar un diccionario completo con todos sus valores
tecladoCopia = teclado1.copy()
print(tecladoCopia)

# Crear un diccionario con dict()
teclado3 = dict(Categoria = "Teclados", Modelo = "Logitech G213", Precio = "29,99")
print(teclado3)

# Agregar el mismo valor a 3 diccionarios diferentes con FROMKEYS
teclado4 = ("Categoria", "Modelo", "Precio")
vacia = "Valor vacio"

teclado4 = dict.fromkeys(teclado4, vacia)
print(teclado4)

#
vistaTeclado = teclado3.keys()
print(vistaTeclado)

3
{'Modelo': 'HyperX Alloy FPS Pro', 'Precio': '89,99'}
{'Modelo': 'HyperX Alloy FPS Pro'}
{}
{'Precio': '60.69', 'Color': 'Negro'}
{'Precio': '60.69', 'Color': 'Negro'}
{'Categoria': 'Teclados', 'Modelo': 'Logitech G213', 'Precio': '29,99'}
{'Categoria': 'Valor vacio', 'Modelo': 'Valor vacio', 'Precio': 'Valor vacio'}
dict_keys(['Categoria', 'Modelo', 'Precio'])

## Funciones I
### Crear y llamar funciones con argumentos

In [55]:
def saludar():
    print("Bienvenidos a Programacion Facil.")
    
saludar()

Bienvenidos a Programacion Facil.

In [56]:
print("La familia Simpson\n")

def familiaS(nombre):
    print(nombre + " Simpson")
    
familiaS("Hormer")
familiaS("Marge")
familiaS("Lisa")
familiaS("Bart")
familiaS("Maggie")

La familia Simpson

Hormer Simpson
Marge Simpson
Lisa Simpson
Bart Simpson
Maggie Simpson

## Funciones II
### *args Argumenteos arbitrarios

In [2]:
def alumnos (*args):
    print("El ultimo alumno es " + args[3] + " y el primero es " + args[0] + ".") 
    
alumnos("Andres", "Ana", "Andrea", "Antonio")

El ultimo alumno es Antonio y el primero es Andres.

In [3]:
def alumnos_profesor(profesor, sustituto, *args):
    print("Profesor: " + profesor)
    print("Sustituto: " + sustituto)
    for x in args:
        print("Alumnos: " + x)

lista_alumnos = ["Andres", "Ana", "Andrea", "Antonio"]
alumnos_profesor("Juan", "Pedro", *lista_alumnos)

Profesor: Juan
Sustituto: Pedro
Alumnos: Andres
Alumnos: Ana
Alumnos: Andrea
Alumnos: Antonio